POSTGRES_USER=postgres
POSTGRES_PASSWORD=megapassword
POSTGRES_DB=mlflowdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=${POSTGRES_URI}
MLFLOW_DEFAULT_ARTIFACT_ROOT=/mlflow/artifacts

# Conexão ao R2 Storage
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
R2_ENDPOINT_URL=https://seu_id.r2.cloudflarestorage.com/
R2_BUCKET_NAME=mlops-course